<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Officer Dashboard</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h2>Officer Dashboard</h2>

<h3>View Assigned Complaints</h3>
<a href="/api/officer/complaints/2">
    View My Complaints
</a>

<hr>

<h3>Update Complaint Status</h3>
<form action="/api/complaints/update-status/1" method="post">
    <select name="status">
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="RESOLVED">RESOLVED</option>
    </select>
    <button type="submit">Update</button>
</form>

</body>
</html>
